{# templates/blog/_search_results.html.twig #}

<style>
    .search-results-list li {
        margin-bottom: 0;
    }
</style>

<ul class="search-results-list">
    {% for result in results %}
        <li><a href="{{ path('blog_post', { 'slug': result.slug }) }}">{{ result.title }}</a></li>
    {% else %}
        <li class="no-results">{{ 'post.no_posts_found'|trans }}</li>
    {% endfor %}
</ul>
